<div class="w-full p-6">
    <div class=" md:flex justify-between w-full mb-3">
        <h1 class="text-xl font-bold w-full ">Employee Profile</h1>
    
        <div class="flex items-center">
            <button mat-icon-button>
                <mat-icon><img src="../../../../assets/icons/home-navigation.svg" class="w-5"></mat-icon>
            </button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Employees</button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Employee Profile</button>
        </div>
    </div>

    <mat-card class="py-4 shadow">
        <h5 class="text-lg font-semibold mb-4 px-4">Employee Details</h5>
        <div class="md:flex">
            <div class="md:w-2/12 text-center px-3 md:border-r">
                <img src="../../../../assets/images/avatars/male-01.jpg" alt="" class="rounded-full w-28">
                <h5 class="font-medium text-xl mt-2">Rohit</h5>
                <p class="text-primary">RT9876</p>
            </div>
            <div class="md:w-3/12 px-3 md:border-r">
                <div class="flex mb-4">
                    <p class="md:w-5/12">Full Name: </p>
                    <p class="md:w-7/12 font-medium">Jay Soni</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">Department: </p>
                    <p class="md:w-7/12 font-medium">Design</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">Designation: </p>
                    <p class="md:w-7/12 font-medium">UI Designer</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">Supervisor: </p>
                    <p class="md:w-7/12 font-medium">Mayank</p>
                </div>
                <div class="flex">
                    <p class="md:w-5/12">DOB: </p>
                    <p class="md:w-7/12 font-medium">12-10-1997</p>
                </div>
            </div>

            <div class="md:w-4/12 px-3 md:border-r">
                <div class="flex mb-4">
                    <p class="md:w-6/12">Access:</p>
                    <p class="md:w-6/12 font-medium">Employee</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-6/12">Mobile No.: </p>
                    <p class="md:w-6/12 font-medium">9876543219</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-6/12">Emergency Mobile No.:</p>
                    <p class="md:w-6/12 font-medium">9876543219</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-6/12">Email.:</p>
                    <p class="md:w-6/12 font-medium">rohit@gmail.com</p>
                </div>
                <div class="flex">
                    <p class="md:w-6/12">Office Email.: </p>
                    <p class="md:w-6/12 font-medium">rohit@simbiotik.com</p>
                </div>
            </div>

            <div class="md:w-3/12 px-3">
                <div class="flex mb-4">
                    <p class="md:w-5/12">Leaves Left :</p>
                    <p class="md:w-7/12 font-medium">10 Days</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">Aadhar No.:</p>
                    <p class="md:w-7/12 font-medium">8767 3333 4545</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">Pan No. : </p>
                    <p class="md:w-7/12 font-medium">LAHPS8765R</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">UAN : </p>
                    <p class="md:w-7/12 font-medium">4567 9090 8787</p>
                </div>
                <div class="flex mb-4">
                    <p class="md:w-5/12">PF No. :</p>
                    <p class="md:w-7/12 font-medium">054110 0</p>
                </div>
            </div>
        </div>
    </mat-card>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-4 mt-5">
        <mat-card class="p-4 shadow">
            <h5 class="text-lg font-semibold mb-4">Work Experience</h5>

            <ul class="timeline">
                <li class="border-b">
                    <span class="cn">CN</span>
                    <div>
                        <h5 class="font-medium mb-1">Company Name 1</h5>
                        <p class="text-md">June 2015 - June 2016 ( 1 Year )</p>
                    </div>
                </li>
            
                <li class="green border-b">
                    <span class="cn">CN</span>
                    <div>
                        <h5 class="font-medium mb-1">Company Name 1</h5>
                        <p class="text-md">June 2015 - June 2016 ( 1 Year )</p>
                    </div>
                </li>
            
                <li class="yellow border-b">
                    <span class="cn">CN</span>
                    <div>
                        <h5 class="font-medium mb-1">Company Name 1</h5>
                        <p class="text-md">June 2015 - June 2016 ( 1 Year )</p>
                    </div>
                </li>
            
                <li class="pink">
                    <span class="cn">CN</span>
                    <div>
                        <h5 class="font-medium mb-1">Company Name 1</h5>
                        <p class="text-md">June 2015 - June 2016 ( 1 Year )</p>
                    </div>
                </li>
            
            </ul>
        </mat-card>

        <div>
            <mat-card class="p-4 shadow md:h-[218px]">
                <h5 class="text-lg font-semibold mb-4">Bank Details</h5>
                <div class="flex">
                    <div class="md:w-6/12 border-r pr-3">
                        <div>
                            <p>Account No:</p>
                            <p class="font-medium">123456789012 <img src="../../../../assets/icons/copy.svg" alt="" style="vertical-align: middle;"></p>
                        </div>

                        <div class="mt-4">
                            <p>Name:</p>
                            <p class="font-medium">Rohit</p>
                        </div>
                    </div>
                    <div class="md:w-6/12 pl-3">
                        <div>
                            <p>IFSC Code:</p>
                            <p class="font-medium">ICIC987654</p>
                        </div>
                        <div class="mt-4">
                            <p>Branch Name:</p>
                            <p class="font-medium">Whitefield</p>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="p-4 shadow mt-4">
                <h5 class="text-lg font-semibold mb-4">Documents</h5>

                <div class="overflow-auto rounded-lg border h-[250px]">
                    <table class="w-full">
                        <tr class="bg-[#F0F1F4]">
                            <th>Name</th>
                            <th class="text-center">Action</th>
                        </tr>
                        <tr class="border-b">
                            <td><a href="" class="text-primary underline">Aadhar Card</a></td>
                            <td class="text-center"><button mat-icon-button color="accent"><mat-icon svgIcon="mat_solid:download_for_offline"></mat-icon></button> </td>
                        </tr>
                        <tr class="border-b">
                            <td><a href="" class="text-primary underline">Pan Card</a></td>
                            <td class="text-center"><button mat-icon-button color="accent"><mat-icon svgIcon="mat_solid:download_for_offline"></mat-icon></button> </td>
                        </tr>
                        <tr class="border-b">
                            <td><a href="" class="text-primary underline">Degree Certificate</a></td>
                            <td class="text-center"><button mat-icon-button color="accent"><mat-icon svgIcon="mat_solid:download_for_offline"></mat-icon></button> </td>
                        </tr>
                        <tr class="border-b">
                            <td><a href="" class="text-primary underline">Degree Certificate</a></td>
                            <td class="text-center"><button mat-icon-button color="accent"><mat-icon svgIcon="mat_solid:download_for_offline"></mat-icon></button> </td>
                        </tr>
                        <tr class="">
                            <td><a href="" class="text-primary underline">Experience Certificate</a></td>
                            <td class="text-center"><button mat-icon-button color="accent"><mat-icon svgIcon="mat_solid:download_for_offline"></mat-icon></button> </td>
                        </tr>
                    </table>
                </div>
            </mat-card>
        </div>

        <div>
            <mat-card class="p-4 shadow">
                <h5 class="text-lg font-semibold mb-4">Education</h5>
                
                <ul class="pl-4 list-disc">
                    <li class="mb-3">
                        <h5 class="font-medium">PUC</h5>
                        <p class="text-md">Ramaiah Institute of College - 2010-2012</p> 
                    </li>
                    <li class="mb-3">
                        <h5 class="font-medium">Bachelor’s</h5>
                        <p class="text-md">Ramaiah Institute of College - 2010-2012</p> 
                    </li>
                    <li>
                        <h5 class="font-medium">Masters</h5>
                        <p class="text-md">Ramaiah Institute of College - 2010-2012</p> 
                    </li>
                </ul>
            </mat-card>

            <mat-card class="p-4 shadow mt-4">
                <h5 class="text-lg font-semibold mb-4">Working Hours</h5>

                <img src="../../../../assets/images/e-graph.png" alt="" class="h-full">

                <div class="text-right">
                    <button mat-icon-button><mat-icon>zoom_out_map</mat-icon></button>
                </div>
            </mat-card>
        </div>
    </div>
</div>