<div style="min-width: 30vw;">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 text-center ">Attention
        </h4>
    </div>

    <div class="mt-1" style="max-width: 30vw;">
        <p class="text-center">Make sure you wish to share this forms with
            John Dao, Sarah Smith, Rajesh, Nisha ?</p>
    </div>

    <div class="mt-5 text-center">
        <button mat-stroked-button class="rounded mr-5">Cancel</button>
        <button color="primary" class="rounded min-w-[100px] mr-5" (click)="share()" mat-raised-button>Share</button>
    </div>

   
</div>
