<div class="md:max-w-[30vw]">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Task Status
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

    <div class="mt-1">
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Title: </p>
            <p class="md:w-7/12">Title comes Here</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Description: </p>
            <p class="md:w-7/12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Assigned By: </p>
            <p class="md:w-7/12">Dibakar</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Assigned on: </p>
            <p class="md:w-7/12">dd-mm-yyyy</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Priority: </p>
            <p class="md:w-7/12">High</p>
        </div>
        

    </div>

    <div class="mt-5 text-center">
        <!-- <button color="warn" class="rounded min-w-[100px] mr-5" mat-raised-button>Reject</button> -->
        <button class="bg-green-600 text-white rounded min-w-[100px]" mat-dialog-close mat-raised-button>Mark as Done</button>
    </div>
</div>
