<div class="md:max-w-[28vw]">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Add New Interview
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Job ID</mat-label>
            <mat-select placeholder="Select Job ID" required></mat-select>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter First Name" required>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Last Name">
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Date</mat-label>
            <input placeholder="Select Date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Time</mat-label>
            <input matInput placeholder="Select Time" type="time">
        </mat-form-field>

    <div class="mt-5 text-center">
        <button color="primary" class="rounded min-w-[100px]" mat-raised-button>Save</button>
    </div>
</div>