<img src="../../../../assets/icons/Simbiotik-logo.svg" alt="" class="logo">
<nav class="sidebar">



    <!-- <h4 class="header">MAIN MENU</h4> -->

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <!-- <mat-expansion-panel-header [routerLink]="['/dashboard/hr']" [routerLinkActive]="['active']"> -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/1-dashboard.svg" alt="">
                    <h4>Dashboard</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/2-projects.svg" alt="">
                    <h4>Projects</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/3-clients.svg" alt="">
                    <h4>Clients</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/4-employee.svg" alt="">
                    <h4>Employees</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/5-leave_management.svg" alt="">
                    <h4>Leave Management</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h4 class="dropdown"> <mat-icon class="circle">circle</mat-icon> Leave Request </h4>
            <h4 class="dropdown"> <mat-icon class="circle">circle</mat-icon> Apply Leave </h4>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/6-Holidays.svg" alt="">
                    <h4>Holidays</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/7-payroll.svg" alt="">
                    <h4>Payroll</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h4 class="dropdown"> Add to Payroll </h4>
            <h4 class="dropdown"> Generate Payslip </h4>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/8-attendance.svg" alt="">
                    <h4>Attendance</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/9-jobs&recruitment.svg" alt="">
                    <h4> Jobs & Recruitment </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <h4 class="dropdown"> Jobs List </h4>
            <h4 class="dropdown"> Candidates </h4>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/10-task.svg" alt="">
                    <h4> Task </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/11-policy&documents.svg" alt="">
                    <h4> Policy & Documents </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/12-events.svg" alt="">
                    <h4> Events </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/13-reports.svg" alt="">
                    <h4> Reports </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="../../../../assets/icons/14-tax&forms.svg" alt="">
                    <h4> Tax & Forms </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        


    </mat-accordion>

    <footer>
        <img src="" alt="">
    </footer>
</nav>