<div class="w-full p-6">
    <div class=" flex justify-between w-full mb-3">
        <h1 class="text-xl font-bold w-full ">Upload Forms</h1>


        <div class="flex items-center">
            <button routerLink="/hr-dashboard" mat-icon-button> <mat-icon><img
                        src="../../../../assets/icons/home-navigation.svg" class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button routerLink="/hr-tax-forms" class="rounded font-semibold p-1">Tax & Forms</button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Upload Forms</button>
        </div>
    </div>

    <div class="shadow p-4 bg-white rounded pr-0">

        <div class="border p-5 m-5">
            <div>
                <mat-form-field class="w-full md:w-4/12" appearance="outline">
                    <mat-label>Year*</mat-label>
                    <mat-select placeholder="Select Year">
                        <mat-option value="option">2023-24</mat-option>
                        <mat-option value="option">2022-23</mat-option>
                        <mat-option value="option">2021-22</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="md:flex md:w-12/12 mb-5 md:mb-0">
                <mat-form-field class="w-full md:w-4/12 w-6/12 mr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="border md:w-4/12 w-12/12 rounded h-14 flex items-center">
                    <mat-chip-option class="mr-3 text-blue-700  ml-3">chethan_form16_2023-24<mat-icon
                            matChipRemove>cancel</mat-icon></mat-chip-option>
                </div>
            </div>

            <div class="flex md:w-12/12">
                <mat-form-field class="w-full md:w-4/12 w-6/12 mr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="border md:w-4/12 w-6/12 rounded h-14 flex items-center justify-center">
                    <img class="mr-3 text-blue-700 " src="../../../../assets/icons/upload-file.svg" alt="">
                </div>
            </div>

            <div class="flex md:w-12/12">
                <mat-form-field class="w-full md:w-4/12 w-6/12 mr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="border md:w-4/12 w-6/12 rounded h-14 flex items-center justify-center">
                    <img class="mr-3 text-blue-700 " src="../../../../assets/icons/upload-file.svg" alt="">
                </div>
            </div>

            <div class="flex md:w-12/12">
                <mat-form-field class="w-full md:w-4/12 w-6/12 mr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="border md:w-4/12 w-6/12 rounded h-14 flex items-center justify-center">
                    <img class="mr-3 text-blue-700 " src="../../../../assets/icons/upload-file.svg" alt="">
                </div>
            </div>

            <div class="flex md:w-12/12">
                <mat-form-field class="w-full md:w-4/12 w-6/12 mr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="border md:w-4/12 w-6/12 rounded h-14 flex items-center justify-center">
                    <img class="mr-3 text-blue-700 " src="../../../../assets/icons/upload-file.svg" alt="">
                </div>
            </div>

            <div class="text-right md:w-8/12 md:mt-0">
                <button class="rounded text-right" color="primary"
                    mat-raised-button><mat-icon>add</mat-icon>Add</button>
            </div>



            <div class="mt-5 text-right">
                <button mat-stroked-button class="rounded mr-5">Cancel</button>
                <button color="primary" class="rounded min-w-[100px]" mat-raised-button>Save</button>
            </div>
        </div>
    </div>
</div>