<div class="md:max-w-[30vw]">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Add Policies
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

    <form [formGroup]="addPolicies" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Title</mat-label>
            <input placeholder="Enter Title" id="title" matInput formControlName="title">
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Date</mat-label>
            <input placeholder="Select Date" matInput [matDatepicker]="picker2" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div class="border rounded h-30 flex items-center justify-center">
            <img src="../../../../assets/icons/upload-file.svg" alt="">
        </div>

        <div class="mt-5 text-center">
            <button color="primary" class="rounded min-w-[100px] mr-5" mat-raised-button>Save</button>
        </div>

    </form>

    
</div>