<div class="w-full p-6">
    <div class=" flex justify-between w-full mb-3">
        <h1 class="text-xl font-bold w-full ">Add New Job</h1>

        <div class="flex items-center">
            <button routerLink="/hr-dashboard" mat-icon-button> <mat-icon><img
                        src="../../../../assets/icons/home-navigation.svg" class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button routerLink="/hr-jobs/list" mat-button class="rounded font-semibold p-1">Jobs</button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Add New Job</button>
        </div>
    </div>

    <div class="shadow p-4 bg-white rounded pr-0">

        <form class="border p-5 m-5" [formGroup]="addJobForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                <mat-label>Job Title</mat-label>
                <input placeholder="Enter Job Title" id="jobtitle" matInput>
            </mat-form-field>

            <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select placeholder="Select Department" formControlName="department">
                    <mat-option value="option" *ngFor="let department of department"
                        [value]="department">{{department}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select placeholder="Select Role" formControlName="role">
                    <mat-option value="option" *ngFor="let role of role" [value]="role">{{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="w-full md:flex">
                <div class="md:w-8/12 w-full md:flex">
                    <mat-form-field class="md:w-full w-full md:pr-4" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea placeholder="Enter Description" id="description" matInput
                            formControlName="description"></textarea>
                    </mat-form-field>

                    <mat-form-field class="md:w-full w-full md:pr-4" appearance="outline">
                        <mat-label>Requirement</mat-label>
                        <textarea placeholder="Enter Requirement" id="requirement*" matInput
                            formControlName="requirments"></textarea>
                    </mat-form-field>
                </div>
                <div class="md:w-4/12 w-full mb-3">
                    <mat-form-field class="md:w-full w-full md:pr-4" appearance="outline">
                        <mat-label>Skills</mat-label>
                        <mat-select placeholder="Enter / Select Skills" formControlName="skills">
                            <mat-option value="option" *ngFor="let skills of skills"
                                [value]="skills">{{skills}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-chip-option class="mr-3">HTML5<mat-icon matChipRemove>cancel</mat-icon></mat-chip-option>
                    <mat-chip-option class="mr-3">CSS<mat-icon matChipRemove>cancel</mat-icon></mat-chip-option>
                    <mat-chip-option>Javascript<mat-icon matChipRemove>cancel</mat-icon></mat-chip-option>

                </div>
            </div>

            <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                <mat-label>Vacancies</mat-label>
                <input placeholder="Enter No of Vacancies" id="number" matInput formControlName="vacancies">
            </mat-form-field>

            <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Select Access" formControlName="status">
                    <mat-option value="option" value="option" *ngFor="let status of status"
                        [value]="status">{{status}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="mt-5 text-right">
                <button mat-stroked-button class="rounded mr-5">Cancel</button>
                <button color="primary" class="rounded min-w-[100px]" mat-raised-button>Save</button>
            </div>
        </form>
    </div>

</div>