<div class="w-full p-6">

    <div class=" flex justify-between w-full mb-4 items-center">
        <h1 class="text-xl font-bold w-full ">Leave Management</h1>

        <div class="flex items-center">
            <button routerLink="/hr-dashboard" mat-icon-button> <mat-icon><img src="../../../../assets/icons/home-navigation.svg"
                        class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Apply Leave</button>
        </div>
    </div>

    <div class="bg-primary-100 w-full items-center p-3 md:flex justify-between rounded-t-md">
        <div class="md:flex items-center">
            <h3 class="text-lg font-semibold md:mr-4 mr-5 md:mb-0 mb-2">Apply Leave List</h3>
            <mat-form-field appearance="fill" class="search w-full md:w-[220px]">
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <button (click)="apply()" mat-icon-button matTooltip="Apple Leave"><img
                    src="../../../../assets/icons/add.svg"></button>
                    <button mat-icon-button matTooltip="Refresh"><img src="../../../../assets/icons/refresh.svg"></button>
                    <button mat-icon-button matTooltip="Export to Excel"><img src="../../../../assets/icons/xlsx-export.svg"></button>          
        </div>

    </div>
    <div class="overflow-x-auto w-full">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef width="50"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container>

            <ng-container matColumnDef="appliedOn">
                <th mat-header-cell *matHeaderCellDef> Applied On </th>
                <td mat-cell *matCellDef="let element"> {{element.appliedOn}} </td>
            </ng-container>


            <ng-container matColumnDef="fromDate">
                <th mat-header-cell *matHeaderCellDef> From Date </th>
                <td mat-cell *matCellDef="let element"> {{element.fromDate}} </td>
            </ng-container>

            <ng-container matColumnDef="toDate">
                <th mat-header-cell *matHeaderCellDef> To Date </th>
                <td mat-cell *matCellDef="let element"> {{element.toDate}} </td>
            </ng-container>

            <ng-container matColumnDef="leaveType">
                <th mat-header-cell *matHeaderCellDef> Leave Type </th>
                <td mat-cell *matCellDef="let element"> {{element.leaveType}} </td>
            </ng-container>

            <ng-container matColumnDef="leaveReason">
                <th mat-header-cell *matHeaderCellDef> Leave Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.leaveReason}} </td>
            </ng-container>

            <ng-container matColumnDef="leaveLeft">
                <th mat-header-cell *matHeaderCellDef> Leave Left </th>
                <td mat-cell *matCellDef="let element"> {{element.leaveLeft}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="cursor-pointer" (click)="edit()" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>

    </div>

</div>