<div style="min-width: 30vw;">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Generate Payslip
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

    <div style="max-width: 30vw;">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Employee ID</mat-label>
            <mat-select placeholder="Select Employee ID">
                <mat-option value="option">RT0001</mat-option>
                <mat-option value="option">RT0002</mat-option>
                <mat-option value="option">RT0003</mat-option>
                <mat-option value="option">RT0004</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email ID</mat-label>
            <input placeholder="Enter Email ID" id="emailId" matInput>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>From</mat-label>
            <input placeholder="Select From Date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>To Date</mat-label>
            <input placeholder="Select To Date" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

    </div>

    <div class="mt-5 text-center">
        <button color="primary" class="rounded min-w-[100px] mr-5" mat-raised-button>Generate & Email</button>
    </div>
</div>