body {
    font-family: 'Poppins', sans-serif;
}

fuse-vertical-navigation-basic-item>.fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item:not(.fuse-vertical-navigation-item-disabled).fuse-vertical-navigation-item-active {
    background-color: #3272EC !important;
    color: #ffffff !important;
    border-radius: 100px 0px 0px 100px;
}

fuse-vertical-navigation-collapsable-item>.fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item:not(.fuse-vertical-navigation-item-active-forced):not(.fuse-vertical-navigation-item-active):not(.fuse-vertical-navigation-item-disabled):hover,
fuse-vertical-navigation-basic-item>.fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item:not(.fuse-vertical-navigation-item-active-forced):not(.fuse-vertical-navigation-item-active):not(.fuse-vertical-navigation-item-disabled):hover {
    border-radius: 100px 0px 0px 100px;
}

tr {
    height: 40px;
}
img{
    display: inline;
}
th,
td {
    padding-left: 16px;
    text-align: left;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 50%;
}

.orange {

    .mat-mdc-form-field-flex {
        background: #F59E0C !important;

        .mat-mdc-form-field-infix {
            min-height: 36px !important;
        }
    }
}

.mat-button-toggle-group{
    background-color: #3272EC !important;
    padding: 5px;
    border-radius: 30px !important;
}
.mat-button-toggle-appearance-standard{
    background: inherit !important;
    .mat-button-toggle-label-content{
        color: #ffffff !important;
    }
}
.mat-button-toggle-group .mat-button-toggle .mat-button-toggle-label-content{
    line-height: 26px !important;
    padding: 0 12px;
}
.mat-button-toggle-group .mat-button-toggle.mat-button-toggle-checked{
    background-color: #ffffff !important;
    border-radius: 30px;
    .mat-button-toggle-label-content{
        color: #3272EC !important;
    }
}

.search {
    width: 220px;

    .mat-mdc-form-field-infix {
        min-height: 40px !important;

    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

hr {
    margin: 0 0 24px;
    border-bottom-width: 0;
}

.popup-heading {
    top: -24px;
    position: relative;
    left: -24px;
    width: calc(100% + 48px);
}

.mat-mdc-icon-button {
    --mdc-icon-button-icon-size: 30px !important;
}

.timefield {
    // border-radius: 6px;
    // border-width: 1px;
    // border-style: solid;
    // --tw-border-opacity: 1 !important;
    // border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
    // --tw-bg-opacity: 1 !important;
    // background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    // --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    // height: 56px;
 
    input {
        width: 100%;
        padding: 0 16px;
        height: 56px;
    }
}
 
// input[type='time']::-webkit-calendar-picker-indicator {
//     background: url('../assets/icons/time.svg') no-repeat;
//   }
.mat-mdc-paginator-container{
    justify-content: end !important;
}

.table-header{
    .mat-mdc-form-field-infix {
        min-height: 40px !important;

    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

}
