body { 
    font-family: 'Poppins', sans-serif; 
}
fuse-vertical-navigation-basic-item > .fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item:not(.fuse-vertical-navigation-item-disabled).fuse-vertical-navigation-item-active {
    background-color: #3272EC !important;
    color: #ffffff !important;
    border-radius: 100px 0px 0px 100px;
}
fuse-vertical-navigation fuse-vertical-navigation-basic-item > .fuse-vertical-navigation-item-wrapper{
    margin-right: 0 !important;
}
tr{
    height: 40px;
}
th,td{
    padding-left: 16px;
    text-align: left;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 50%;
}
img{
    width: auto;
    display: inline;
}