mat-card{
    img{
        width: 40px !important;
        border-radius: 100px;
        border: solid 1px #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 2px 0px;
    }
}

.border-bottom{
    border-bottom: solid 1.5px #B7B6B6;
    margin-top: 20px;
    margin-bottom: 20px;
}