<div class="w-full p-6">
    <div class=" flex justify-between w-full mb-3">
        <h1 class="text-xl font-bold w-full ">Upload Forms</h1>


        <div class="flex items-center">
            <button mat-icon-button> <mat-icon><img src="../../../../assets/icons/home-navigation.svg"
                        class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button routerLink="/hr-employees" mat-button class="rounded font-semibold p-1">Tax & Forms</button>
        </div>
    </div>

    <div class="shadow p-4 bg-white rounded pr-0">

        <div class="border p-5 m-5">

            
            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Year*</mat-label>
                    <mat-select placeholder="Select Year">
                        <mat-option value="option">2023-24</mat-option>
                        <mat-option value="option">2022-23</mat-option>
                        <mat-option value="option">2021-22</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label></mat-label>
                    <mat-select placeholder="Select Employee Type">
                        <mat-option value="option">Intern</mat-option>
                        <mat-option value="option">Probationary</mat-option>
                        <mat-option value="option">Permanent</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>

            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Recipient*</mat-label>
                    <mat-select placeholder="Select Here">
                        <mat-option value="option">chethan.prasad@simbiotiktech.com</mat-option>
                        <mat-option value="option">mayank.sharma@simbiotiktech.com</mat-option>
                        <mat-option value="option">sharath@simbiotiktech.com</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="mt-5 text-right">
                <button mat-stroked-button class="rounded mr-5">Cancel</button>
                <button color="primary" class="rounded min-w-[100px]" mat-raised-button>Save</button>
            </div>
        </div>
    </div>
</div>
