<div class="w-full p-6">

    <div class=" flex justify-between w-full mb-4 items-center">
        <h1 class="text-xl font-bold w-full ">Holidays</h1>

        <div class="flex items-center">
            <button mat-icon-button> <mat-icon><img src="../../../../assets/icons/home-navigation.svg"
                        class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Holidays</button>
        </div>
    </div>

    <div class="bg-primary-100 w-full items-center p-3 flex justify-between rounded-t-md">
        <div class="flex items-center">
            <h3 class="text-lg font-semibold mr-5">Holidays List</h3>
            <mat-form-field appearance="fill" class="search ">
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <button (click)="add()" mat-icon-button><img
                    src="../../../../assets/icons/add.svg"></button>
            <button mat-icon-button><img src="../../../../assets/icons/refresh.svg"></button>
            <button mat-icon-button><img src="../../../../assets/icons/xlsx-export.svg"></button>
        </div>

    </div>
    <div class="overflow-x-auto w-full">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef width="50"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container>

            <ng-container matColumnDef="holidayReason">
                <th mat-header-cell *matHeaderCellDef> Holiday Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.holidayReason}} </td>
            </ng-container>


            <ng-container matColumnDef="holidayDate">
                <th mat-header-cell *matHeaderCellDef> Holiday Date </th>
                <td mat-cell *matCellDef="let element"> {{element.holidayDate}} </td>
            </ng-container>

            <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Day </th>
                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="cursor-pointer" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>

    </div>

</div>