<div class="md:max-w-[30vw]">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Leave Status
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

    <div class="md:flex items-center text-center md:justify-between">

        <div class="text-center px-3 md:flex">
            <img src="../../../../assets/images/avatars/male-01.jpg" alt="" class="rounded-full w-15 mr-5">
            <div>
                <h5 class="font-medium text-xl mt-2">Jay Soni</h5>
                <p class="">UIUX Designer</p>
            </div>
        </div>
        <div class="px-3 md:w-4/12 w-full">
            <p class=" font-medium">Leaves Left </p>
            <p class="">3 Days</p>
        </div>
    </div>

    <hr class="mt-5">

    <div class="mt-6" >
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12">Type: </p>
            <p class="md:w-7/12 font-medium">Health Issue</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12">Applied on: </p>
            <p class="md:w-7/12 font-medium">dd-mm-yyyy</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12">From: </p>
            <p class="md:w-7/12 font-medium">dd-mm-yyyy</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12">To: </p>
            <p class="md:w-7/12 font-medium">dd-mm-yyyy</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12">Total: </p>
            <p class="md:w-7/12 font-medium">1 Day</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12">Reason: </p>
            <p class="md:w-7/12 w-full font-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        </div>

    </div>

    <div class="mt-5 text-center">
        <button color="warn" class="rounded min-w-[100px] mr-5" mat-raised-button>Reject</button>
        <button class="bg-green-600 text-white rounded min-w-[100px]" mat-raised-button>Approve</button>
    </div>
</div>