<div class="w-full p-6">

    <div class=" flex justify-between w-full mb-4 items-center">
        <h1 class="text-xl font-bold w-full ">Jobs</h1>

        <div class="flex items-center">
            <button routerLink="/hr-dashboard" mat-icon-button> <mat-icon><img
                        src="../../../../assets/icons/home-navigation.svg" class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Jobs</button>
        </div>
    </div>

    <div class="bg-primary-100 w-full items-center p-3 md:flex md:mb-0  justify-between rounded-t-md">
        <div class="md:flex items-center">
            <h3 class="text-lg font-semibold md:mr-4 mr-5 md:mb-0 mb-2">Jobs List</h3>
            <mat-form-field appearance="fill" class="search w-full md:w-[220px]">
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <button mat-icon-button matTooltip="Refresh"><img src="../../../../assets/icons/refresh.svg"></button>
        </div>

    </div>
    <div class="overflow-x-auto w-full">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef width="50"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container>

            <ng-container matColumnDef="jobId">
                <th mat-header-cell *matHeaderCellDef> Job ID </th>
                <td mat-cell *matCellDef="let element"> {{element.jobId}} </td>
            </ng-container>

            <ng-container matColumnDef="jobtitle">
                <th mat-header-cell *matHeaderCellDef> Job Title </th>
                <td mat-cell *matCellDef="let element"> {{element.jobtitle}} </td>
            </ng-container>

            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef> Department </th>
                <td mat-cell *matCellDef="let element"> {{element.department}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <ng-container matColumnDef="vacancies">
                <th mat-header-cell *matHeaderCellDef> Vacancies </th>
                <td mat-cell *matCellDef="let element"> {{element.vacancies}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> <span class="bg-lime-500 rounded-md text-white p-2 ">
                        <!-- <span class="bg-red-600 rounded-md text-white p-2"> </span> -->
                        <!-- <span class="bg-orange-600 rounded-md text-white p-2"></span> -->
                        <!-- <span class="bg-purple-600 rounded-md text-white p-2"></span> -->
                        {{element.status}} </span> </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button routerLink="/hr-jobs/add-job" mat-icon-button>
                        <span class="bg-blue-500 rounded-md text-white p-2 ">Refer</span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="cursor-pointer" routerLink="/jobs/job-detail" mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>

    </div>

</div>