#page-content{
    padding: 7px 25px 25px;
    height: 100%;
}
mat-sidenav {
    width: 200px;
    background: var(--ion-color-white);
    border: 0;
}
.mat-drawer-container {
    height: 100%;
    background: #F5F6F9;
}
.blue
{
    font-size: 25px;
    font-weight: 600;
    color: var(--ion-color-main);
}
h2{
    font-weight: 600;
}