<div style="min-width: 30vw;">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Add Holiday
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

    <div style="max-width: 30vw;">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Company</mat-label>
            <mat-select placeholder="Select Company">
                <mat-option value="option">Simbiotik Tech</mat-option>
                <mat-option value="option">Recstech</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Reason</mat-label>
            <input placeholder="Enter Reason" id="reason" matInput>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Date</mat-label>
            <input placeholder="Select Date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>

    <div class="mt-5 text-center">
        <button color="primary" class="rounded min-w-[100px] mr-5" mat-raised-button>Save</button>
    </div>
</div>