<div class="w-full p-6 md:flex">
    <div class="md:w-9/12 md:pr-2">
        <div class="grid grid-cols-4 gap-4">
            <mat-card class="shadow p-3 md:flex flex-row">
                <img src="../../../assets/icons/d-Projects.svg" alt="" class="w-12 mr-3">
                <div>
                    <p class="text-md">Total Projects</p>
                    <h5 class="font-semibold text-xl">130</h5>
                </div>
            </mat-card>

            <mat-card class="shadow p-3 md:flex flex-row">
                <img src="../../../assets/icons/d-Clients.svg" alt="" class="w-12 mr-3">
                <div>
                    <p class="text-md">Total Clients</p>
                    <h5 class="font-semibold text-xl">230</h5>
                </div>
            </mat-card>

            <mat-card class="shadow p-3 md:flex flex-row">
                <img src="../../../assets/icons/d-Employees.svg" alt="" class="w-12 mr-3">
                <div>
                    <p class="text-md">Total Employees</p>
                    <h5 class="font-semibold text-xl">430</h5>
                </div>
            </mat-card>

            <mat-card class="shadow p-3 md:flex flex-row">
                <img src="../../../assets/icons/d-Tasks.svg" alt="" class="w-12 mr-3">
                <div>
                    <p class="text-md">Tasks</p>
                    <h5 class="font-semibold text-xl">30</h5>
                </div>
            </mat-card>
        </div>

        <mat-card class="shadow p-4 my-5">
            <h5 class="text-lg font-bold mb-5">Projects Statistics</h5>
            <img src="../../../assets/images/graph.png" alt="">
        </mat-card>

        <div class="grid grid-cols-3 gap-4">
            <mat-card class="shadow md:flex flex-row">
                <h5 class="text-lg font-semibold mb-5 flex justify-between items-center w-full p-4">Clients
                    <a class="text-primary text-sm font-medium flex items-center">View All <mat-icon color="primary" svgIcon="heroicons_mini:chevron-right"></mat-icon></a>
                </h5>

                <table class="w-full">
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>Barry Cuda</td>
                        <td>DMS</td>
                        <td>barrycuda@gmailcom</td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>

    <div class="md:w-3/12 md:pl-2"></div>
</div>