<div class="w-full p-6">
    <div class=" flex justify-between w-full mb-4 items-center">
        <h1 class="text-xl font-bold w-full">Project Name</h1>
        <div class="flex items-center">
            <button routerLink="/hr-dashboard" mat-icon-button> <mat-icon><img
                        src="../../../../assets/icons/home-navigation.svg" class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Projects</button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Project Name</button>
        </div>
    </div>

    <div class="w-full md:flex text-md">

        <div class="md:w-4/12 md:pr-2">

            <mat-card class="shadow p-4 mb-5">

                <h5 class="text-lg font-bold md:mb-3">Project details</h5>

                <div class="flex ml-2">
                    <p class="text-base w-7/12">Created On:</p>
                    <p class="font-medium text-lg w-5/12">12 Jan 2018</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-base w-7/12">Created By:</p>
                    <p class="font-medium text-lg w-5/12">Sujatha</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-base w-7/12">Client Name: </p>
                    <p class="font-medium text-lg w-5/12">Toyota</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12">Contact Person: </p>
                    <p class="font-medium text-lg w-5/12">Mayank</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12">Status:</p>
                    <p class="font-medium text-lg w-5/12 text-orange-500">In Progress</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12">Project Lead:</p>
                    <p class="font-medium text-lg w-5/12">Sujatha</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12">Tickets:</p>
                    <p class="font-medium text-lg w-5/12">125</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12">Priority:</p>
                    <p class="font-medium text-lg w-5/12 text-orange-500">Medium</p>
                </div>

                <hr class="md:mb-2">

                <div>
                    <span class="flex ">
                        <p class="text-lg w-9/12">75%</p>
                        <p class="text-lg w-1/12">Progress</p>
                    </span>
                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                </div>

            </mat-card>

            <mat-card class="shadow p-4 mb-5">
               
                <h5 class="text-lg font-bold mb-4">Project details</h5>
                
                <div class="flex justify-between">
                    <div class="flex">
                        <div class="mr-3">
                            <img class=" bg-slate-200 rounded-md border-slate-300 border p-2" src="../../../../assets/icons/pdf.svg" alt="">
                        </div>
                        <div class="pr-3">
                            <p class="text-base font-semibold">Project Requirements</p>
                            <p class="text-sm">Uploaded By: Sujatha</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../../../assets/icons/download.svg" alt="" width="40" class="fill-sky-600">
                    </div>
                </div>
                <hr class="my-4">

                <div class="flex justify-between">
                    <div class="flex">
                        <div class="mr-3">
                            <img class=" bg-slate-200 rounded-md border-slate-300 border p-2" src="../../../../assets/icons/pdf.svg" alt="">
                        </div>
                        <div class="pr-3">
                            <p class="text-base font-semibold">Project Requirements</p>
                            <p class="text-sm">Uploaded By: Sujatha</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../../../assets/icons/download.svg" alt="" width="40" class="fill-sky-600">
                    </div>
                </div>
                <hr class="my-4">

                <div class="flex justify-between">
                    <div class="flex">
                        <div class="mr-3">
                            <img class=" bg-slate-200 rounded-md border-slate-300 border p-2" src="../../../../assets/icons/pdf.svg" alt="">
                        </div>
                        <div class="pr-3">
                            <p class="text-base font-semibold">Project Requirements</p>
                            <p class="text-sm">Uploaded By: Sujatha</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../../../assets/icons/download.svg" alt="" width="40" class="fill-sky-600">
                    </div>
                </div>
                <hr class="my-4">

                <div class="flex justify-between">
                    <div class="flex">
                        <div class="mr-3">
                            <img class=" bg-slate-200 rounded-md border-slate-300 border p-2" src="../../../../assets/icons/pdf.svg" alt="">
                        </div>
                        <div class="pr-3">
                            <p class="text-base font-semibold">Project Requirements</p>
                            <p class="text-sm">Uploaded By: Sujatha</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../../../assets/icons/download.svg" alt="" width="40" class="fill-sky-600">
                    </div>
                </div>
            </mat-card>

        </div>

        <div class="md:w-8/12  md:pl-2">

            <mat-card class="shadow p-4 mb-5">
                <div class="flex justify-between items-center mb-5">
                    <h5 class="text-lg font-bold">Task Summary </h5>
                    <mat-button-toggle-group class="ml-3">
                        <mat-button-toggle value="Month">Month</mat-button-toggle>
                        <mat-button-toggle value="Week" checked>Week</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div>
                    <img src="../../../../assets/images/graph/Task-Summary-Graph.png " alt="">

                    <div class="flex mt-3 justify-center">
                        <p class="flex items-center"><mat-icon class="text-sm text-[#22C55D]">circle</mat-icon> Tickets
                            Solved</p>
                        <p class="flex items-center ml-3"><mat-icon color="warn" class="text-sm">circle</mat-icon>New
                            Raised
                        </p>
                    </div>
                </div>

            </mat-card>

            <div class="md:w-12/12 md:pr-2">
                <mat-card class="shadow p-4 mb-5">
                        <h5 class="text-lg font-bold mb-3">Assigned Team </h5>
                    <div class="grid md:grid-cols-4 grid-cols-1 gap-3">
                        <div class="md:border-r border-b">
                            <h3 class="text-base font-semibold">Design </h3>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-01.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Mayank Sharma</p>
                                    <p class="text-sm">UIUX Lead</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Ravi Pagdhar</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/female-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Kerena</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Saranya</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="md:border-r border-b">
                            <h3 class="text-base font-semibold">Design </h3>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-01.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Mayank Sharma</p>
                                    <p class="text-sm">UIUX Lead</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Ravi Pagdhar</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/female-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Kerena</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Saranya</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="md:border-r border-b">
                            <h3 class="text-base font-semibold">Design </h3>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-01.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Mayank Sharma</p>
                                    <p class="text-sm">UIUX Lead</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Ravi Pagdhar</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/female-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Kerena</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Saranya</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="md:border-r ">
                            <h3 class="text-base font-semibold">Design </h3>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-01.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Mayank Sharma</p>
                                    <p class="text-sm">UIUX Lead</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Ravi Pagdhar</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/female-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Kerena</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                            <div class="flex py-3">
                                <div class="mr-3">
                                    <img src="../../../assets/images/avatars/male-02.jpg" alt="" width="40"
                                        class="rounded-full">
                                </div>
                                <div class="pr-3">
                                    <p class="text-base font-semibold">Saranya</p>
                                    <p class="text-sm">UIUX Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-card>

            </div>
        </div>
    </div>
</div>