<div class="w-full p-6">
    <div class="md:flex">
        <div class="md:w-4/12 md:pr-2">
            <mat-card class="shadow p-4 h-full">
                <h5 class="font-semibold text-xl">Project details</h5>

                <div class="flex ml-2 my-2">
                    <p class="text-lg w-7/12 grey">Created On:</p>
                    <p class="font-medium text-lg w-5/12">12 Jan 2018</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Created By:</p>
                    <p class="font-medium text-lg w-5/12">Sujatha</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Client Name: </p>
                    <p class="font-medium text-lg w-5/12">Toyota</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Contact Person: </p>
                    <p class="font-medium text-lg w-5/12">Mayank</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Status:</p>
                    <p class="font-medium text-lg w-5/12">In Progress</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Project Lead:</p>
                    <p class="font-medium text-lg w-5/12">Sujatha</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Tickets:</p>
                    <p class="font-medium text-lg w-5/12">125</p>
                </div>

                <div class="flex my-2 ml-2">
                    <p class="text-lg w-7/12 grey">Priority:</p>
                    <mat-form-field class="orange">
                        <mat-select>
                            <mat-option value="option">Low</mat-option>
                            <mat-option value="option">Medium</mat-option>
                            <mat-option value="option">High</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <span class="border-bottom"></span>

                <div>
                    <span class="flex ">
                        <p class="text-lg w-9/12">25%</p>
                        <p class="text-lg w-1/12">Progress</p>
                    </span>
                    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
                </div>

            </mat-card>
        </div>
        <div class="md:w-8/12 md:pl-2">
            <mat-card class="shadow p-4 h-full">
                <div class="flex justify-between">
                    <h5 class="font-semibold text-xl">Task Summary</h5>
                    <p>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold">Month</mat-button-toggle>
                            <mat-button-toggle value="italic">Week</mat-button-toggle>
                        </mat-button-toggle-group>
                    </p>

                </div>


                <div class="mt-10">
                    <img src="../../../../assets/images//graph/admin-task-summary.png" alt="" class="w-full ">
                    <div class="flex justify-center mt-10">
                        <h4 class="mr-5"> <mat-icon class="circle1">circle</mat-icon>New Tickets Raised</h4>
                        <h4> <mat-icon class="circle2">circle</mat-icon>Tickets Solved</h4>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>

    <div class="md:flex mt-5">
        <div class="md:w-4/12 md:pr-2">
            <mat-card class="shadow p-4 h-full">
                <h5 class="font-semibold text-xl">Uploaded Files</h5>

                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <p class="text-lg w-7/12 grey">Created On:</p>
                        <p class="font-medium text-lg w-5/12">12 Jan 2018</p>
                    </div>



                </div>

            </mat-card>
            </div>
            </div>
            