.border-bottom{
    border-bottom: solid 1.5px #B7B6B6;
    margin-bottom: 15px;
}

.grey{
    color: #6F6D6D;
}

.mat-button-toggle-group{
    background-color: #3272EC;
    border-radius: 30px;
    color: #fff;
}


.theme-brand.light .mat-button-toggle-checked{
    background-color: #fff;
}

.circle1{
    font-size: 10px;
    height: 10px;
    width: 12px;
    color: #EF4444;
}
.circle2{
    font-size: 10px;
    height: 10px;
    width: 12px;
    color: #22C55D;
}