html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif !important; }

*:not(.mat-icon){
    font-family: 'Poppins', sans-serif !important;
}

:root {
    --ion-color-main: #3272EC;
    --ion-color-white: #FFFFFF;
    --ion-color-black: #6F6D6D;
    --ion-color-grey: #EFEFEF;
    --ion-color-input: #FCFDFE;
    --ion-color-border: #101010;
    --ion-color-text: #505470;
}

p{
    font-size: 14px;
    font-weight: 400;
    
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right
}
.mr-15{
    margin-right: 25px !important;
}
.m-0{
    margin: 0 !important;
}
.mb-30{
    margin-bottom: 15px !important;
}
.flex{
    display: flex;
    align-items: center;
}
.w-50{
    width: 50%;
}
.w-33{
    width: 33%;
}

.mat-form-field{
    width: 100%;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.mat-form-field.mat-focused .mat-form-field-label,.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color:var(--ion-color-main);
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
}
.grid,.grid-two,.no-bottom {
.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
}

.table-header{
    background-color: #D6E3FB;
    padding: 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    
    h2{
        color: #363636;
        padding-top: 5px;
        margin-right: 30px;
    }

    input {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        background-image:url(../../HRMS/src/assets/icons/search.svg);
        padding: 12px 20px 12px 35px;
      }

}

.page-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h4{
        font-weight: 500 !important;
        margin: 0;
        color: var(--ion-color-main);
    }
    .mat-icon-button{
        color: var(--ion-color-main);

        &:hover{
            background: var(--ion-color-main);
            color: var(--ion-color-white);
            border-radius: 10px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #FCFDFE inset ! important;
    box-shadow: 0 0 0 30px #FCFDFE inset ! important;
}

.main-btn{
    background: var(--ion-color-main) !important;
    color:var(--ion-color-white) !important;
    font-size: 15px;
    font-weight: 500;
    height: 48px;
}

.relative{
    position: relative;
}

.mat-slide-toggle-bar {
    background: none !important;
    border: 2px solid #9FA2B4;
    border-radius: 15px !important;
    width: 35px !important;
    height: 15px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background: none !important;
    border: 2px solid #2196F3;
    border-radius: 15px !important;
}

.mat-slide-toggle-thumb-container {
    top: 1.5px !important;
    left: 3px !important;
}

.mat-slide-toggle-thumb{
    box-shadow: none;
    background: #9FA2B4;
    height: 12px !important;
    width: 12px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #2196F3;
}

.searchInput {
    top: 12px;
    margin-right: 15px;
    width: 400px;
    .mat-form-field-flex {
        border-radius: 15px !important;
        min-height: 42px !important;
        height: 42px;
        background: var(--ion-color-grey) !important;
        border: none !important;
    }

    input {
        font-size: 14px;
        position: relative;
    }

    .mat-icon {
        color: var(--ion-color-black);
        font-size: 22px;
        position: relative;
        top: 8px;
        left: 5px;
        width: 35px;
    }
}
// table css
.tableBlock {
    overflow-x: auto;
    width: 100%;
    border: 1px solid #EFF0F4;
}

.mat-table {
    width: 100%;
    background: none;
    border-collapse: collapse;
}
tr.mat-header-row,tr.mat-row{
    border-bottom: 1px solid #EFF0F4 !important;
    height: 48px !important;
}
.mat-header-cell,
.mat-cell {
    font-size: 14px;
    // min-width: 120px;
    // max-width: 220px;
    padding: 0 15px !important;
    border: none !important;
    text-transform: capitalize;
    color: #192A3E;
}
.mat-header-cell{
    color: var(--ion-color-text);
    background: #F7F8FA;
}
.mat-cell {
    color: var(--ion-color-black);
    background: #FFFFFF;
}
.mat-column-action{

        text-align: center !important;

    img{
        width: 16px;
    }
}

.paginator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #EFF0F4;
    padding-top: 16px;
    .bold{
        font-weight: 500;
    }
    p{
        margin-bottom: 0;
    }
    .mat-stroked-button{
        padding: 0;
        min-width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        margin: 0 3px;
        .mat-icon{
            height: 28px;
        }
    }
    .disable .mat-icon{
        color: #C4C4C4;
    }
    .active{
        background: var(--ion-color-main);
        color: var(--ion-color-white);
    }
}
.upload-thumb{
    width: 150px;
    height: 130px;
    border-radius: 15px;
    background: #D9D9D9;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    img{
        width: 100%;
    }
    .mat-icon-button{
        position: absolute;
        right: -10px;
        bottom: -10px;
        background: var(--ion-color-white);
        .mat-icon{
            color: var(--ion-color-main) !important;
            font-size: 38px;
            position: relative;
            right: 7px;
            bottom: 2px;
        }
    }
}
.form-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    
    p{
        font-weight: 600;
        margin: 0;
        font-size: 15px;
    }
    p,.mat-icon{
        color: #5B5F7B;
    }
}
.popbtndiv{
    background: rgba(16, 16, 16, 0.1);
    border-radius: 30px 0px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 30px;
    margin-top: 20px;
    .deletebtn,.Cancelbtn{
        background: rgba(255, 51, 63, 0.62);
        border: 1px solid #000000;
        min-width: 115px;
        margin-left: 20px;
        color: var(--ion-color-white);
    }
    .Cancelbtn{
        background: #9FA2B4;
    }
}
// checkbox css
.mat-checkbox-frame {
    border-color: #9FA2B4;
    border-width: 1.5px !important;
}

.mat-checkbox-layout .mat-checkbox-label{
    color: var(--ion-color-text);
    font-size: 14px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--ion-color-white);
    border: 1.5px solid #9FA2B4;
}
.mat-checkbox-checkmark-path {
    stroke: var(--ion-color-main) !important;
}
.mat-checkbox-ripple{
    display: none;
}
hr {
    border-top: 0;
    margin: 20px 0;
    border-color: #F0F1F4;
}
.mat-datepicker-toggle{
    position: absolute;
    right: -8px;
    bottom: 6px;
}
@media only screen and (max-width: 767px) {
    .w-50,.logForm div:not(.mat-select-arrow){
        width: 100% !important;
    }

    #page-content{
        h2 {
            font-size: 15px;
        }
    }

    mat-sidenav {
        width: 75px !important;
    }
    .sidebar{
        padding: 12px !important;
    }
    .logo{
        width: 80% !important;
        padding: 5px !important;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .logForm, .page-heading, .page-heading, .text-right, .dropdown {
        display: block !important;
    }

    .text-right{
        display: block !important;
        align-items: center;
       button{
        margin-left: 0px !important;
    }
    }

    .main-btn {
        width: 100% !important;
        margin-bottom: 25px !important;
    }
}
.page
{
    background:var(--ion-color-white);
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px #80808026;
    padding: 25px;   
    height: 100%;
}

.mat-dialog-container{
    padding: 0 !important;
    .form-head{
        background-color: #F0F1F4;
        color: var(--ion-color-black);
        padding: 5px 20px;
    }
    .popup-body{
        padding: 0px 20px 30px;
    }
}

.blue-text{
color: (var(--ion-color-main));
}