<div class="w-full p-6">
    <div class=" flex justify-between w-full mb-3">
        <h1 class="text-xl font-bold w-full ">Add Employee</h1>


        <div class="flex items-center">
            <button routerLink="/hr-dashboard" mat-icon-button> <mat-icon><img src="../../../../assets/icons/home-navigation.svg"
                        class="w-5"></mat-icon></button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button routerLink="/hr-employees" mat-button class="rounded font-semibold p-1">Employees</button>
            <mat-icon><img src="../../../../assets/icons/arrow.png"></mat-icon>
            <button mat-button class="rounded font-semibold p-1">Add Employee</button>
        </div>
    </div>

    <div class="shadow p-4 bg-white rounded pr-0">

        <div class="border p-5 m-5">

            <div class="md:flex  ">

                <div class="md:w-2/12 md:mr-4 border rounded mb-4 shadow-sm h-[133px] flex items-center justify-center">
                    <img src="../../../../assets/icons/upload-file.svg" alt="">
                </div>

                <div class="md:w-5/12 md:pr-4">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input placeholder="Enter Name" id="name" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Department</mat-label>
                        <mat-select placeholder="Select Access">
                            <mat-option value="option">Human Resources</mat-option>
                            <mat-option value="option">Accounts</mat-option>
                            <mat-option value="option">Design</mat-option>
                            <mat-option value="option">Frontend</mat-option>
                            <mat-option value="option">Backend</mat-option>
                            <mat-option value="option">Testing</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="md:w-5/12 ">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Employee ID</mat-label>
                        <input placeholder="Enter Employee ID" id="employeeId" matInput>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Designation</mat-label>
                        <input placeholder="Enter Designation" id="designation" matInput>
                    </mat-form-field>

                </div>

            </div>

            <div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Employee Type</mat-label>
                    <mat-select placeholder="Select Employee Type">
                        <mat-option value="option">Intern</mat-option>
                        <mat-option value="option">Probationary</mat-option>
                        <mat-option value="option">Permanent</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Access</mat-label>
                    <mat-select placeholder="Select Access">
                        <mat-option value="option">Admin</mat-option>
                        <mat-option value="option">HR</mat-option>
                        <mat-option value="option">Manager</mat-option>
                        <mat-option value="option">Employee</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input placeholder="Select DOB" matInput [matDatepicker]="picker4">
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Mobile No</mat-label>
                    <input placeholder="Enter Mobile No" id="mobileNo" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Emergency Mobile No</mat-label>
                    <input placeholder="Enter Emergency Mobile No" id="number" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12" appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input placeholder="Enter Enter Email" id="email" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Enter Office Mail</mat-label>
                    <input placeholder="Enter Office Mail" id="email" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Leaves</mat-label>
                    <input placeholder="Leaves" id="leaves" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 " appearance="outline">
                    <mat-label>Aadhar No</mat-label>
                    <input placeholder="Enter Aadhar No" id="aadharNo" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Pan No</mat-label>
                    <input placeholder="Enter Pan No" id="panNo" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>PF No</mat-label>
                    <input placeholder="Enter PF No" id="pfNo" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 " appearance="outline">
                    <mat-label>UAN No</mat-label>
                    <input placeholder="Enter UAN No" id="uanNo" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4 mb-0" appearance="outline">
                    <mat-label>Supervisor</mat-label>
                    <input placeholder="Supervisor" id="supervisor" matInput>
                </mat-form-field>
            </div>

            <hr>

            <div>
                <h5 class="font-semibold text-xl mb-4">Address</h5>
                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input placeholder="Address" id="Address" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Area</mat-label>
                    <input placeholder="Area/Landmark" id="Area" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input placeholder="Street" id="Street" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select placeholder="Select City">
                        <mat-option value="option">City 1</mat-option>
                        <mat-option value="option">City 2</mat-option>
                        <mat-option value="option">City 3</mat-option>
                        <mat-option value="option">City 4</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select placeholder="Select State">
                        <mat-option value="option">State 1</mat-option>
                        <mat-option value="option">State 2</mat-option>
                        <mat-option value="option">State 3</mat-option>
                        <mat-option value="option">State 4</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select placeholder="Select Country">
                        <mat-option value="option">Country 1</mat-option>
                        <mat-option value="option">Country 2</mat-option>
                        <mat-option value="option">Country 3</mat-option>
                        <mat-option value="option">Country 4</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <hr>

            <div>
                <div class="flex justify-between items-center mb-4">
                    <h5 class="font-semibold text-xl">Education</h5>
                    <button class="rounded" color="primary" mat-raised-button><mat-icon>add</mat-icon>Add</button>
                </div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Education 1</mat-label>
                    <input placeholder="eg: University of Mysore" id="Area" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Field of Study</mat-label>
                    <input placeholder="eg: BCA" id="Area" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-2/12 md:pr-4" appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input placeholder="Select Start Date" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full md:w-2/12" appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input placeholder="Select End Date" matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

            </div>

            <hr>

            <div>
                <div class="flex justify-between items-center mb-4">
                    <h5 class="font-semibold text-xl">Work Experience</h5>
                    <button color="primary" class="rounded" mat-raised-button><mat-icon>add</mat-icon>Add</button>
                </div>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Work Experience</mat-label>
                    <input placeholder="Add Work Experience" id="workExperience" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-4/12 md:pr-4" appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input placeholder="eg: UIUX Designer" id="designation" matInput>
                </mat-form-field>

                <mat-form-field class="w-full md:w-2/12 md:pr-4" appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input placeholder="Select Start Date" matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full md:w-2/12" appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input placeholder="Select End Date" matInput [matDatepicker]="picker3">
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

            </div>
            <hr>

            <div>
                <div class="flex justify-between items-center mb-4">
                    <h5 class="font-semibold text-xl">Upload Documents</h5>
                    <button color="primary" class="rounded" mat-raised-button><mat-icon>add</mat-icon>Add</button>
                </div>

                <div class="inline-block md:w-4/12 md:pr-4 w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Upload Documents</mat-label>
                        <input placeholder="eg: Aadhar Card*" id="workExperience" matInput>
                    </mat-form-field>
                    <div class="border rounded h-30 flex items-center justify-center">
                        <img src="../../../../assets/icons/upload-file.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="mt-5 text-right">
                <button mat-stroked-button class="rounded mr-5">Cancel</button>
                <button color="primary" class="rounded min-w-[100px]" mat-raised-button>Save</button>
            </div>
        </div>
    </div>
</div>