<div style="min-width: 25vw;">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Delete Employee
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>
    <div class=" items-center text-center">
        <p class="text-lg font-medium mb-4 px-4 text-4xl mt-4">Are you sure want to Delete this Employee?</p>
        <div>
            <button mat-stroked-button mat-dialog-close class="Cancelbtn rounded min-w-[100px] mr-5">Cancel</button>
            <button mat-stroked-button mat-dialog-close
                class="bg-red-600 rounded min-w-[100px] text-white ">Delete</button>
        </div>
    </div>
</div>