<div style="min-width: 30vw;">
    <div class="form-head justify-between items-center">
        <h4 class="popup-heading font-semibold text-lg px-6 py-3 bg-primary-100 flex justify-between">Sharing to
            <mat-icon class="text-lg cursor-pointer" mat-dialog-close>close</mat-icon>
        </h4>
    </div>

    <div class="mt-1" style="max-width: 30vw;">
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Name: </p>
            <p class="md:w-7/12">John Doe</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Employee ID: </p>
            <p class="md:w-7/12">RT0001</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">Email: </p>
            <p class="md:w-7/12">john@recstech.in</p>
        </div>
        <div class="md:flex mb-4 px-3">
            <p class="md:w-5/12 font-medium">File: </p>
            <p class="md:w-7/12" class="text-blue-700 font-medium">John_form16_2022-23</p>
        </div>
        
    </div>

    <div class="mt-5 text-center">
        <!-- <button color="warn" class="rounded min-w-[100px] mr-5" mat-raised-button>Reject</button> -->
        <button color="primary" class="rounded min-w-[100px] mr-5" (click)="share()" mat-raised-button>Share</button>
    </div>

   
</div>
